<!DOCTYPE html>
<html>
<head>
    <title>Multiverso</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   
        
    <h1 class="page-title">
        Multiverso

    </h1>
    <button id="add-node-button">Agregar nodo</button>
    <button id="remove-node-button">Eliminar nodo</button>
    <p id="selected-node">Nodo seleccionado: 0</p>
    <select id="adjacent-nodes-dropdown">
        <option value="">Selecciona un nodo</option>
    </select>
    <button id="travel-button">Viajar</button>
    <div id="graph"></div>
    <script src="main.js"></script>

<script>
    var svg = d3.select("body").append("svg")
    .attr("width", 1920)
    .attr("height", 1920);

function addNode() {
    fetch('/add_node')
        .then(response => response.json())
        .then(data => drawGraph(data));
}

function selectNode(nodeId) {
    // Actualiza el nodo seleccionado en el servidor
    fetch('/select_node/' + nodeId)
        .then(response => response.json())
        .then(data => {
            // Actualiza el nodo seleccionado en la página
            document.getElementById('selected-node').textContent = 'Nodo seleccionado: ' + nodeId;

            // Actualiza los nodos adyacentes en la página
            var dropdown = document.getElementById('adjacent-nodes-dropdown');
            dropdown.innerHTML = '<option value="">Selecciona un nodo</option>';
            for (var i = 0; i < data.adjacent_nodes.length; i++) {
                var option = document.createElement('option');
                option.value = data.adjacent_nodes[i];
                option.text = 'Nodo ' + data.adjacent_nodes[i];
                dropdown.appendChild(option);
            }

            // Actualiza el nodo anterior y el nodo actual
            previousNode = currentNode;
            currentNode = nodeId;

            drawGraph(data);
        });
}

function selectFirstAvailableNode(start, end) {
        for (let i = start; i <= end; i++) {
            fetch('/select_node/' + i)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('No se pudo seleccionar el nodo ' + i);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data) {
                        document.getElementById('selected-node').textContent = 'Nodo seleccionado: ' + i;
                        var dropdown = document.getElementById('adjacent-nodes-dropdown');
                        dropdown.innerHTML = '<option value="">Selecciona un nodo</option>';
                        for (var j = 0; j < data.adjacent_nodes.length; j++) {
                            var option = document.createElement('option');
                            option.value = data.adjacent_nodes[j];
                            option.text = 'Nodo ' + data.adjacent_nodes[j];
                            dropdown.appendChild(option);
                        }
                        drawGraph(data);
                        throw new Error('Nodo seleccionado: ' + i);
                    }
                })
                .catch(error => {
                    if (i === end) {
                        console.error('No se pudo seleccionar ningún nodo en el rango de ' + start + ' a ' + end);
                    }
                });
        }
    }

// Función para eliminar un nodo
function removeNode() {
    // Hacemos una solicitud al servidor para eliminar un nodo
    fetch('/remove_node')
        .then(response => response.json()) // Convertimos la respuesta a JSON
        .then(data => {
            // Dibujamos el gráfico con los datos actualizados
            drawGraph(data);

            // Si hay nodos adyacentes al nodo eliminado, seleccionamos el primer nodo adyacente
            // Esto es útil para asegurarnos de que siempre haya un nodo seleccionado después de eliminar un nodo
            if (data.adjacent_nodes && data.adjacent_nodes.length > 0) {
                selectNode(data.adjacent_nodes[0]);
            }
        });
}

function drawGraph(data) {
    // Elimina cualquier gráfico existente
    svg.selectAll("*").remove();

    var nodes = data.nodes;
    var links = data.links;
    var simulation = d3.forceSimulation(nodes)
        .force("link", d3.forceLink(links).id(d => d.id).distance(400)) // Aumenta este valor para hacer que los nodos estén más separados
        .force("charge", d3.forceManyBody().strength(-700)) // Aumenta este valor (en negativo) para hacer que los nodos se repelan más
        .force("center", d3.forceCenter(1920 / 2, 1920 / 2)); // Ajusta estos valores al mismo tamaño que el SVG

    var link = svg.append("g")
        .attr("stroke", "#999")
        .attr("stroke-opacity", 0.6)
        .selectAll("line")
        .data(links)
        .join("line");

    var node = svg.append("g")
        .attr("stroke", "#fff")
        .attr("stroke-width", 1.5)
        .selectAll("circle")
        .data(nodes)
        .join("circle")
        .attr("r", 5)
        .attr("fill", "#69b3a2");

    var labels = svg.append("g")
        .selectAll("text")
        .data(nodes)
        .join("text")
        .text(d => d.id)
        .attr("x", d => d.x + 10)
        .attr("y", d => d.y + 4);

    simulation.on("tick", () => {
        link
            .attr("x1", d => d.source.x)
            .attr("y1", d => d.source.y)
            .attr("x2", d => d.target.x)
            .attr("y2", d => d.target.y);

        node
            .attr("cx", d => d.x)
            .attr("cy", d => d.y);

        labels
            .attr("x", d => d.x + 10)
            .attr("y", d => d.y + 4);
    });
}



// Obtén los datos del grafo cuando la página se carga por primera vez
fetch('/graph_data')
    .then(response => response.json())
    .then(data => drawGraph(data));
    
let isFirstLoad = true;



document.getElementById('travel-button').addEventListener('click', function() {
    var dropdown = document.getElementById('adjacent-nodes-dropdown');
    var selectedNode = dropdown.options[dropdown.selectedIndex].value;
    if (selectedNode) {
        selectNode(selectedNode);
    }
});

document.getElementById('add-node-button').addEventListener('click', function() {
    addNode();
});

document.getElementById('remove-node-button').addEventListener('click', function() {
    removeNode();
});

document.getElementById('travel-button').addEventListener('click', function() {
    var dropdown = document.getElementById('adjacent-nodes-dropdown');
    var selectedNodeId = dropdown.options[dropdown.selectedIndex].value;
    if (selectedNodeId) {
        selectNode(selectedNodeId);
    }
});

window.onload = function() {
    if (isFirstLoad) {
        // Intentamos seleccionar el primer nodo disponible en la secuencia de 0 a 10
        selectFirstAvailableNode(0, 10);
        isFirstLoad = false;
    }
};


</script>


<footer class="page-footer">
    <p>&copy; Cristian Moreno , Cesar Epia , Sebatián Olarte </p>
    <p>&copy; 2023 Universidad Nacional de Colombia</p>
</footer>
</body>
</html>