<!DOCTYPE html>
<html>
<head>
    <title>Multiverso</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   
        
    <div class="container">
        <h1 class="page-title">Multiverso</h1>
        <button id="add-node-button">Agregar nodo</button>
        <button id="remove-node-button">Eliminar nodo</button>
        <p id="selected-node">Nodo seleccionado: 0</p>
    
        <!-- Contenedor para las barras de opciones y los botones -->
        <div class="dropdown-button-container">
            <!-- Contenedor para la barra de opciones de viaje normal y el botón "Iniciar viaje" -->
            <div>
                <select id="adjacent-nodes-dropdown">
                    <option value="">Selecciona un nodo</option>
                </select>
                <button id="travel-button">Viajar</button>
            </div>
    
            <!-- Contenedor para la barra de opciones de viaje rápido y el botón "Iniciar viaje rápido" -->
            <div>
                <select id="all-nodes-dropdown">
                    <option value="">Selecciona un nodo</option>
                </select>
                <button onclick="startFastJourney()">Iniciar viaje rápido</button>
            </div>
        </div>
        <div id="graph"></div>
    </div>
    
    <script src="main.js"></script>
<div class="transparent-container">
    <script>
        let previousNode;
        let currentNode;
        let messengerNode = 0;
        let travelPath = [];
        let isFirstLoad = true;

        var svg = d3.select("#graph").append("svg")
            .attr("width", "100%")
            .attr("height", "100%")
            .attr("viewBox", "0 0 1920 1920")
            .style("display", "block")
            .style("margin", "auto");

    function getRandomColor() {
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
    }

    function selectFirstAvailableNode(start, end) {
        for (let i = start; i <= end; i++) {
            fetch('/select_node/' + i)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('No se pudo seleccionar el nodo ' + i);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data) {
                        document.getElementById('selected-node').textContent = 'Nodo seleccionado: ' + i;
                        var dropdown = document.getElementById('adjacent-nodes-dropdown');
                        dropdown.innerHTML = '<option value="">Selecciona un nodo</option>';

                        // Filtramos el nodo mensajero de la lista de nodos adyacentes
                        var adjacentNodes = data.adjacent_nodes.filter(node => node !== messengerNode);

                        for (var j = 0; j < adjacentNodes.length; j++) {
                            var option = document.createElement('option');
                            option.value = adjacentNodes[j];
                            option.text = 'Nodo ' + adjacentNodes[j];
                            dropdown.appendChild(option);
                        }

                        drawGraph(data);
                        throw new Error('Nodo seleccionado: ' + i);
                    }
                })
                .catch(error => {
                    if (i === end) {
                        console.error('No se pudo seleccionar ningún nodo en el rango de ' + start + ' a ' + end);
                    }
                });
        }
    }

    function addNode() {
        fetch('/add_node')
            .then(response => response.json())
            .then(data => {
                drawGraph(data);
                fillAllNodesDropdown(data.nodes); // Actualiza la lista de nodos disponibles
            });
    }
    function selectNode(nodeId) {
        fetch('/select_node/' + nodeId)
            .then(response => {
                if (!response.ok) {
                    throw new Error('No se pudo seleccionar el nodo ' + nodeId);
                }
                return response.json();
            })
            .then(data => {
                if (data) {
                    document.getElementById('selected-node').textContent = 'Nodo seleccionado: ' + nodeId;
                    var dropdown = document.getElementById('adjacent-nodes-dropdown');
                    dropdown.innerHTML = '<option value="">Selecciona un nodo</option>';

                    // Obtiene el nodo anterior
                    var previousNode = travelPath[travelPath.length - 2]; // Obtiene el penúltimo nodo visitado

                    // Filtra el nodo anterior de la lista de nodos adyacentes
                    var adjacentNodes = data.adjacent_nodes.filter(node => node !== previousNode);

                    for (var i = 0; i < adjacentNodes.length; i++) {
                        var option = document.createElement('option');
                        option.value = adjacentNodes[i];
                        option.text = 'Nodo ' + adjacentNodes[i];
                        dropdown.appendChild(option);
                    }

                    // Añade el nodo actual al final de la ruta de viaje
                    travelPath.push(nodeId);
                    console.log(travelPath); // Imprime el array travelPath en la consola

                    drawGraph(data);

                    // Almacena el nodo seleccionado en el almacenamiento local
                    localStorage.setItem('selectedNode', nodeId);
                }
            });
    }
    function fillAllNodesDropdown(nodes) {
        var dropdown = document.getElementById('all-nodes-dropdown');
        dropdown.innerHTML = '<option value="">Selecciona un nodo</option>';

        for (var i = 0; i < nodes.length; i++) {
            var option = document.createElement('option');
            option.value = nodes[i].id;
            option.text = 'Nodo ' + nodes[i].id;
            dropdown.appendChild(option);
        }
    }

    function startFastJourney() {
        var dropdown = document.getElementById('all-nodes-dropdown');
        var selectedNode = dropdown.value;

        if (selectedNode) {
            selectNode(selectedNode);
        } else {
            alert('Por favor, selecciona un nodo para iniciar el viaje rápido');
        }
    }


    // Función para eliminar un nodo
    function removeNode() {
        fetch('/remove_node')
            .then(response => response.json())
            .then(data => {
                drawGraph(data);
                fillAllNodesDropdown(data.nodes); // Actualiza la lista de nodos disponibles
            });
    }

    // Elimina cualquier gráfico existente
    function drawGraph(data) {
        // Elimina cualquier gráfico existente
        svg.selectAll("*").remove();

        fillAllNodesDropdown(data.nodes);
        var nodes = data.nodes;
        var links = data.links;

        // Crea una lista de enlaces en la ruta de viaje
        var travelLinks = [];
        for (var i = 0; i < travelPath.length - 1; i++) {
            var sourceNode = nodes.find(node => node.id === travelPath[i]);
            var targetNode = nodes.find(node => node.id === travelPath[i + 1]);
            travelLinks.push({source: sourceNode, target: targetNode});
        }

        var simulation = d3.forceSimulation(nodes)
            .force("link", d3.forceLink(links).id(d => d.id).distance(1000))
            .force("charge", d3.forceManyBody().strength(-500))
            .force("center", d3.forceCenter(1920 / 2, 1920 / 2));

        var link = svg.append("g")
            .attr("stroke", "#ffffff")
            .attr("stroke-opacity", 0.6)
            .selectAll("line")
            .data(links)
            .join("line")
            .attr("stroke-width", 2)
            .attr("stroke", function(d) {
                // Si el enlace está en la ruta de viaje, cambia su color a verde
                for (var i = 0; i < travelLinks.length; i++) {
                    if ((d.source === travelLinks[i].source && d.target === travelLinks[i].target) ||
                        (d.source === travelLinks[i].target && d.target === travelLinks[i].source)) {
                        return "green";
                    }
                }
                return "#ffffff";
            });

        var node = svg.append("g")
            .attr("stroke", "#fff")
            .attr("stroke-width", 1.5)
            .selectAll("circle")
            .data(nodes)
            .join("circle")
                .attr("r", 20)
                .attr("fill", getRandomColor);

        var labels = svg.append("g")
            .selectAll("text")
            .data(nodes)
            .join("text")
            .text(d => d.id)
            .attr("x", d => d.x + 10)
            .attr("y", d => d.y + 4)
            .style("font-size", "35px")
            .style("font-weight", "bold");

        simulation.on("tick", () => {
            link
                .attr("x1", d => d.source.x)
                .attr("y1", d => d.source.y)
                .attr("x2", d => d.target.x)
                .attr("y2", d => d.target.y);

            node
                .attr("cx", d => d.x)
                .attr("cy", d => d.y);

            labels
                .attr("x", d => d.x + 10)
                .attr("y", d => d.y + 4);
        });

    }

    // Obtén los datos del grafo cuando la página se carga por primera vez
    fetch('/graph_data')
        .then(response => response.json())
        .then(data => drawGraph(data));

    document.getElementById('add-node-button').addEventListener('click', function() {
        addNode();
    });

    document.getElementById('remove-node-button').addEventListener('click', function() {
        removeNode();
    });

    document.getElementById('travel-button').addEventListener('click', function() {
        var dropdown = document.getElementById('adjacent-nodes-dropdown');
        var selectedNodeId = dropdown.options[dropdown.selectedIndex].value;
        if (selectedNodeId) {
            selectNode(selectedNodeId);
            console.log(travelPath); // Imprime el array travelPath en la consola
            // Actualiza el nodo seleccionado después de viajar
            document.getElementById('selected-node').textContent = 'Nodo seleccionado: ' + selectedNodeId;
        }
    });

    window.onload = function() {
        var selectedNode = localStorage.getItem('selectedNode');
        if (selectedNode) {
            selectNode(selectedNode);
        } else {
            selectNode(0);
        }
    };

        
    </script>
    
</div>

<footer class="page-footer">
    <p>&copy; Cristian Moreno , Cesar Epia , Sebatián Olarte </p>
    <p>&copy; 2023 Universidad Nacional de Colombia</p>
</footer>
</body>
</html>